<%- include("./includes/head.ejs") %>
<div class="error_div">
  <h1>Page Not Found! :(</h1>
  <a href="/" class="error_link"
    >Reurn To The Main Page <span class="fa fa-heart" style="color: red"></span
  ></a>
</div>
