<%- include("./includes/head.ejs") %>
<h1 class="title">To Do List App | EJS</h1>

<div class="form_div">
  <h1>Daily <small>Tasks</small></h1>
  <%- include("./includes/todoForm.ejs") %>
  <div class="tasks_div"><%- include("./includes/todos.ejs") %></div>
</div>
